body {
  margin-top: 30px;
  font-family: 'Ropa Sans', sans-serif;
  color: #F6F4D2;
  background: #282a36;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #F6F4D2;
}

.typed{
  display:block;
  height: 40px;
}

.floatLeft
{
  float: left;
  position: relative;

}

.floatRight
{
  float: right;
  position: relative;
  display: block;
}

#aboutMe{
  width: 400px;
}

.circle{
  border-radius: 50%;
}

#header{
  max-width:36em;
  margin:auto;
  margin-bottom: 200px;
}

.contentOuter{
  border: 3px dashed #F6F4D2;
  margin-bottom: 50px;
}

.content-group{
  margin-left: 10px;
  margin-right: 10px;
}

.content-group li {
  padding: 4px;
  list-style: none;
}

/*.content-header{
  position:absolute;
}*/

.content-header{
  padding-bottom: 10px;
}
.content-icon{
  position: absolute;
}
.content-text{
  position: relative;
  margin-left: 45px;
}

