body {
  margin-top: 30px;
  font-family: 'Ropa Sans', sans-serif;
  color: #F6F4D2;
  background: #282a36;
  width: 85%;
  max-width: 1200px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #F6F4D2;
}

.typed-outer{
  display: block;
  height: 38px;
  width: 370px;
  background-color: #1F2028;
}

.typed{
  padding: 5px;
}


.separator{
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #F6F4D2;
}

.floatLeft
{
  float: left;
  position: relative;

}

.floatRight
{
  float: right;
  position: relative;
  display: block;
}

#about-me{
  width: 400px;
}

.circle{
  border-radius: 50%;
}

.header-content{
  max-width:36em;
  margin:auto;
}

.heading{
  display: block;
  position: relative;
  height: 450px;
}


.content-outer{
  border: 3px dashed #F6F4D2;
  margin-bottom: 50px;
  position: relative;
}

.content-group{
  margin-left: 10px;
  margin-right: 10px;
}

.content-group li {
  padding: 4px;
  list-style: none;
}

/*.content-header{
  position:absolute;
}*/

.content-header{
  padding-bottom: 15px;
  margin-left:8px;
}
.content-icon{
  position: absolute;
}
.content-text{
  position: relative;
  margin-left: 50px;
  padding-top: 4px;
}

.footer{
  text-align: center;
  border-width: 2px;
  margin-bottom: 20px;
}

